.active {
	background-color: gold;
}

ul {

  list-style:none;
}
 li {

    font-size: 16px;
    position:relative;

}
li a {
    padding: 13px 1.03em 10px;
    display: block;
    color: #767676;
    white-space:nowrap;            

}


li li {
    width:100%;
}