<html ng-app="sandbox">
	<head>
		<link rel="stylesheet" type="text/css" href="css/site.css">

	</head>
	<body ng-controller="MainCtrl">
		
		<div>
			<h2> hello {{hello}} </h2>
		</div>
		<input type="text" ng-model="hello">
		
		<ul>
			<h3>Things</h3>
			<li ng-repeat="thing in things" ng-class="{'active':isCoolestThing(thing)}">
				<a href="#" ng-click="setCoolestThing(thing)">
					{{thing.name}}
				</a>
			</li>
		</ul>

		<h2>coolest thing: {{coolestThing.name}} </h2>
		<ul>
			<li ng-repeat="trait in coolestThing.traits">
				<p>{{trait}}</p>
			</li>
			<p ng-if="anythingCool()">cool? {{coolestThing["cool?"]}}</p>
		</ul>

		
		<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="sandbox.js"></script>
	</body>
</html>